/Abstraction.gif
/Association.gif
/AssociationClass.gif
/Class.gif
/ClassifierTemplateParameter.gif
/Comment.gif
/Component.gif
/ConnectableElementTemplateParameter.gif
/ConnectionPointReference.gif
/Constraint.gif
/DataType.gif
/Dependency.gif
/DurationObservation.gif
/ElementImport.gif
/Enumeration.gif
/EnumerationLiteral.gif
/FinalState.gif
/Generalization.gif
/GeneralizationSet.gif
/InformationFlow.gif
/InformationItem.gif
/InstanceSpecification.gif
/Interface.gif
/InterfaceRealization.gif
/Model.gif
/Operation.gif
/OperationTemplateParameter.gif
/Package.gif
/PackageImport.gif
/PackageMerge.gif
/PrimitiveType.gif
/ProfileApplication.gif
/Property.gif
/Pseudostate_choice.gif
/Pseudostate_deepHistory.gif
/Pseudostate_entryPoint.gif
/Pseudostate_exitPoint.gif
/Pseudostate_fork.gif
/Pseudostate_initial.gif
/Pseudostate_join.gif
/Pseudostate_junction.gif
/Pseudostate_shallowHistory.gif
/Pseudostate_terminate.gif
/Realization.gif
/Reception.gif
/RedefinableTemplateSignature.gif
/Region.gif
/Signal.gif
/Slot.gif
/State.gif
/StateMachine.gif
/Substitution.gif
/TemplateBinding.gif
/TemplateParameter.gif
/TemplateSignature.gif
/TimeObservation.gif
/Transition_local.gif
/Usage.gif
