/copy_edit.png
/copy_edit@2x.png
/cut_edit.png
/cut_edit@2x.png
/delete_edit.png
/delete_edit@2x.png
/export_wiz.png
/export_wiz@2x.png
/help_contents.png
/help_contents@2x.png
/help_search.png
/help_search@2x.png
/import_wiz.png
/import_wiz@2x.png
/new_wiz.png
/new_wiz@2x.png
/paste_edit.png
/paste_edit@2x.png
/pin_editor.png
/pin_editor@2x.png
/print_edit.png
/print_edit@2x.png
/redo_edit.png
/redo_edit@2x.png
/save_edit.png
/save_edit@2x.png
/saveall_edit.png
/saveall_edit@2x.png
/saveas_edit.png
/saveas_edit@2x.png
/undo_edit.png
/undo_edit@2x.png
