/backward_nav.png
/backward_nav@2x.png
/forward_nav.png
/forward_nav@2x.png
/home_nav.png
/home_nav@2x.png
/progress_stop.png
/progress_stop@2x.png
/refresh_nav.png
/refresh_nav@2x.png
/up_nav.png
/up_nav@2x.png
