/build_exec.png
/build_exec@2x.png
/importdir_wiz.png
/importdir_wiz@2x.png
/newfile_wiz.png
/newfile_wiz@2x.png
/newfolder_wiz.png
/newfolder_wiz@2x.png
/next_nav.png
/next_nav@2x.png
/prev_nav.png
/prev_nav@2x.png
