/add.gif
/branches_obj.gif
/commit.png
/disconnect_co.gif
/editconfig.gif
/fetch.png
/gerrit_fetch.png
/history.gif
/ignore.gif
/merge.gif
/mergetool.gif
/pull.png
/push.png
/rebase.gif
/reset.gif
/synchronize.png
/unstage.gif
