/discovery.png
/discovery@2x.png
/open_artifact_obj.png
/open_artifact_obj@2x.png
/plugin_mf_obj.png
/plugin_mf_obj@2x.png
/req_plugins_obj.png
/req_plugins_obj@2x.png
/toc_leaftopic_obj.png
/toc_leaftopic_obj@2x.png
