/context-retrieve.gif
/icons-legend.gif
/import.gif
/open-task.gif
/person.gif
/presentation-categorized.png
/presentation-scheduled.png
/repository-synchronize.gif
/task-active-centered.gif
/task-active.gif
/task-context.gif
/task-inactive-centered.gif
/task-inactive.gif
/task-new.gif
